<section id="block-7" class="about-me-container">
	<div class="about-me-wrapper">
		<div class="about-me-inner">
			<div class="about-me-text">
				<p>ABOUT ME</p>
			</div>
			<div class="about-me-content">
				<div
					style="position: absolute; top: -11.5em; right: -22em; z-index: 0;"
				>
					<img
						src="../assets/img/harshit.svg"
						width="565px"
						style="display: none;"
					/>
				</div>
				<div class="about-me-content-body">
					<p>Hi I'm</p>
					<h3>HARSHIT TYAGI</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
						ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
						aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet,
						consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam,
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
