<!-- Expertise Section -->
<section id="block-2" class="expertise-container shadow-box-radius">
	<div class="expertise-inner">
		<div class="expertise-objects">
			<img src="../assets/img/spots-object.svg" />
		</div>
		<div class="expertise-content-wrap">
			<div class="expertise-content-header">
				<h2>EXPERTISE</h2>
			</div>
			<div class="expertise-content-filter">
				<ul>
					<li><a>PROGRAMMING</a></li>
					<li><a>DEEP LEARNING</a></li>
					<li><a>PROJECTS</a></li>
					<li><a>APPLIED MATHEMATICS</a></li>
				</ul>
			</div>
			<div class="expertise-content-body">
				<div class="body--inner">
					<div class="body--inner-content-wrap"></div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Expertise Section -->
