<link rel="stylesheet" href="../css/footer.css" />

<footer id="footer">
	<section class="footer-container">
		<div class="footer-shape-container">
			<div class="footer-shape">
				<img src="../assets/img/footer-shape.svg" />
			</div>
		</div>
		<div class="footer-content">
			<div class="footer-content-body">
				<section class="footer-content-inner">
					<div class="footer-links">
						<ul class="footer-links flex-nav-column contact-me">
							<li>
								<h3>Contact Me</h3>
								<div class="footer-contact">
									<div>
										<img src="../assets/img/mail.svg" />
									</div>
									<p>harshit.bvcoe@gmail.com</p>
								</div>
								<div class="footer-contact">
									<div>
										<img src="../assets/img/phone.svg" />
									</div>
									<p>9582092250</p>
								</div>
							</li>
							<li>
								<h3>Information</h3>
								<ul>
									<li><a>About me</a></li>
									<li><a>Blogs</a></li>
									<li><a>Courses</a></li>
									<li><a>Podcasts</a></li>
								</ul>
							</li>
							<li>
								<h3>Helpful Links</h3>
								<ul>
									<li><a>Services</a></li>
									<li><a>Supports</a></li>
									<li><a>Terms & Conditions</a></li>
									<li><a>Privacy Policy</a></li>
								</ul>
							</li>
						</ul>
					</div>
					{% include social-media-links.html %}
					<div class="footer-back-to-top">
						<div class="back-to-top-button" role="button">
							<img src="../assets/img/arrow-left.svg" />
						</div>
					</div>
				</section>
			</div>
		</div>
	</section>
</footer>
