<section id="block-3" class="home-blogs-container">
	<div class="section-container-top">
		<div class="container-top-s">
			<div>
				<img src="../assets/img/shape-dots.svg" height="100%" />
			</div>
		</div>
		<div class="container-top-m">
			<div class="container-top-title">
				<h2>BLOGS</h2>
			</div>
		</div>
		<div class="container-top-e">
			<div>
				<p><span>View</span> All Blogs</p>
			</div>
		</div>
	</div>
	<!-- Carousel Start-->
	<section id="carousel" class="home-blogs-carousel">
		<div class="carousel-control carousel-control-l">
			<div class="prev"><img src="../assets/img/arrow-left.svg" /></div>
		</div>
		<div class="carousel-card">
			<section class="carousel-card-wrap active-slide">
				<div class="carousel-card-content">
					<div class="carousel-card-img"></div>
					<div class="carousel-card-body blog-body">
						<h2>Blog Heading</h2>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
							eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
							enim ad minim veniam, quis nostrud
						</p>
					</div>
				</div>
				<div class="carousel-card-read-more">
					<p>Read More</p>
				</div>
			</section>

			<!-- <section class="carousel-card-wrap">
          <div class="carousel-card-content">
            <div class="carousel-card-img">
  
            </div>
            <div class="carousel-card-body">
  
            </div>
          </div>
          <div class="carousel-card-read-more"></div>
        </section> -->

			<!-- <section class="carousel-card-wrap">
          <div class="carousel-card-content">
            <div class="carousel-card-img">
  
            </div>
            <div class="carousel-card-body">
  
            </div>
          </div>
      </div>
      <div class="carousel-card-read-more"></div>
    </section> -->
		</div>
		<div class="carousel-control carousel-control-r">
			<div class="next">
				<img src="../assets/img/arrow-right.svg" />
			</div>
		</div>
	</section>
	<!-- Carousel End -->
</section>
<!-- Home page blogs END -->
