<nav class="navbar--container">
	<section class="navbar--container-inner">
		<div class="navbar--logo">
			<div class="navbar--logo-face">
				<img src="../assets/img/logoface.svg" />
			</div>
			<div class="navbar--logo-dot"></div>
			<div class="navbar--logo-lettering">
				<img src="../assets/img/logo-words.svg" />
			</div>
		</div>

		<div class="navbar--links-holder">
			<ul class="navbar--links-flex">
				<li><a href="#" class="active navbar--links-item">Home</a></li>
				<li><a href="#" class="navbar--links-item">Blog</a></li>
				<li><a href="#" class="navbar--links-item">Services</a></li>
				<li><a href="#" class="navbar--links-item">About me</a></li>
			</ul>
		</div>
	</section>
</nav>
