<section id="block-6" class="testimonials-container">
	<div class="section-container-top">
		<div class="container-top-s">
			<div div class="testimonial-shape-top">
				<img src="../assets/img/testimonial-shape-1.svg" height="100%" />
			</div>
		</div>
		<div class="container-top-m">
			<div class="container-top-title">
				<h2>TESTIMONIALS</h2>
			</div>
		</div>
	</div>
	<!-- Carousel Start-->
	<section id="carousel" class="home-blogs-carousel">
		<div class="carousel-control carousel-control-l">
			<div class="prev"><img src="../assets/img/arrow-left.svg" /></div>
		</div>
		<div class="carousel-card">
			<ul class="carousel-track">
				<li class="carousel-slide current-slide">
					<section class="carousel-card-wrap">
						<div class="carousel-card-content">
							<div class="carousel-card-body testimonial-body">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
									do eiusmod tempor incididunt ut labore et dolore magna aliqua.
									Ut enim ad minim veniam, quis nostrud exercitation ullamco
									laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum
									dolor sit amet, consectetur adipiscing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
									minim veniam,
								</p>
							</div>
						</div>
						<div class="carousel-card-read-more">
							<div>
								<span></span>
								<h3>John Doe</h3>
								<br /><span>CEO Samsung</span>
							</div>
						</div>
					</section>
				</li>
				<li class="carousel-slide">
					<section class="carousel-card-wrap">
						<div class="carousel-card-content">
							<div class="carousel-card-body testimonial-body">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
									do eiusmod tempor incididunt ut labore et dolore magna aliqua.
									Ut enim ad minim veniam, quis nostrud exercitation ullamco
									laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum
									dolor sit amet, consectetur adipiscing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
									minim veniam,
								</p>
							</div>
						</div>
						<div class="carousel-card-read-more">
							<div>
								<span></span>
								<h3>Weekes Doe</h3>
								<br /><span>CEO Samsung</span>
							</div>
						</div>
					</section>
				</li>
				<li class="carousel-slide">
					<section class="carousel-card-wrap">
						<div class="carousel-card-content">
							<div class="carousel-card-body testimonial-body">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
									do eiusmod tempor incididunt ut labore et dolore magna aliqua.
									Ut enim ad minim veniam, quis nostrud exercitation ullamco
									laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum
									dolor sit amet, consectetur adipiscing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
									minim veniam,
								</p>
							</div>
						</div>
						<div class="carousel-card-read-more">
							<div>
								<span></span>
								<h3>Vallis</h3>
								<br /><span>CEO </span>
							</div>
						</div>
					</section>
				</li>
				<li class="carousel-slide">
					<section class="carousel-card-wrap">
						<div class="carousel-card-content">
							<div class="carousel-card-body testimonial-body">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
									do eiusmod tempor incididunt ut labore et dolore magna aliqua.
									Ut enim ad minim veniam, quis nostrud exercitation ullamco
									laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum
									dolor sit amet, consectetur adipiscing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
									minim veniam,
								</p>
							</div>
						</div>
						<div class="carousel-card-read-more">
							<div>
								<span></span>
								<h3>John Smith</h3>
								<br /><span>CEO Samsung</span>
							</div>
						</div>
					</section>
				</li>
			</ul>
		</div>
		<div class="carousel-control carousel-control-r">
			<div class="next">
				<img src="../assets/img/arrow-right.svg" />
			</div>
		</div>
	</section>
	<div class="carousel-nav">
		<button class="carousel-indicator current-slide"></button>
		<button class="carousel-indicator"></button>
		<button class="carousel-indicator"></button>
		<button class="carousel-indicator"></button>
	</div>
	<!-- Carousel END -->
</section>
