<section id="block-6" class="testimonials-container">
	<div class="section-container-top">
		<div class="container-top-s"></div>
		<div class="container-top-m">
			<div class="container-top-title">
				<h2>TESTIMONIALS</h2>
			</div>
		</div>
	</div>
	<!-- Carousel Start-->
	<section id="carousel" class="home-blogs-carousel testimonial-carousel">
		<div div class="testimonial-shape-top">
			<img src="../assets/img/testimonial-shape-1.svg" height="100%" />
		</div>
		<div div class="testimonial-shape-bottom">
			<img src="../assets/img/testimonial-shape-2.svg" height="100%" />
		</div>
		<div class="carousel-control carousel-control-l">
			<div class="prev"><img src="../assets/img/arrow-left.svg" /></div>
		</div>
		<div class="carousel-card">
			<ul class="carousel-track">
				<li class="carousel-slide current-slide">
					<section class="carousel-card-wrap">
						<div class="carousel-card-content">
							<div class="carousel-card-body testimonial-body">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
									do eiusmod tempor incididunt ut labore et dolore magna aliqua.
									Ut enim ad minim veniam, quis nostrud exercitation ullamco
									laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum
									dolor sit amet, consectetur adipiscing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
									minim veniam,
								</p>
							</div>
						</div>
						<div class="n-id-holder">
							<div class="n-id">
								<span class="short-dash"></span>
								<h3>John Doe</h3>
							</div>
							<p>CEO Samsung</p>
						</div>
					</section>
				</li>
				<li class="carousel-slide">
					<section class="carousel-card-wrap">
						<div class="carousel-card-content">
							<div class="carousel-card-body testimonial-body">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
									do eiusmod tempor incididunt ut labore et dolore magna aliqua.
									Ut enim ad minim veniam, quis nostrud exercitation ullamco
									laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum
									dolor sit amet, consectetur adipiscing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
									minim veniam,
								</p>
							</div>
						</div>
						<div class="n-id-holder">
							<div class="n-id">
								<span class="short-dash"></span>
								<h3>Weekes Doe</h3>
							</div>
							<p>CEO Apple</p>
						</div>
					</section>
				</li>
				<li class="carousel-slide">
					<section class="carousel-card-wrap">
						<div class="carousel-card-content">
							<div class="carousel-card-body testimonial-body">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
									do eiusmod tempor incididunt ut labore et dolore magna aliqua.
									Ut enim ad minim veniam, quis nostrud exercitation ullamco
									laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum
									dolor sit amet, consectetur adipiscing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
									minim veniam,
								</p>
							</div>
						</div>
						<div class="n-id-holder">
							<div class="n-id">
								<span class="short-dash"></span>
								<h3>James White</h3>
							</div>
							<p>CEO Google</p>
						</div>
					</section>
				</li>
				<li class="carousel-slide">
					<section class="carousel-card-wrap">
						<div class="carousel-card-content">
							<div class="carousel-card-body testimonial-body">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
									do eiusmod tempor incididunt ut labore et dolore magna aliqua.
									Ut enim ad minim veniam, quis nostrud exercitation ullamco
									laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum
									dolor sit amet, consectetur adipiscing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
									minim veniam,
								</p>
							</div>
						</div>
						<div class="n-id-holder">
							<div class="n-id">
								<span class="short-dash"></span>
								<h3>Jason Dev</h3>
							</div>
							<p>CEO Facebook</p>
						</div>
					</section>
				</li>
			</ul>
		</div>
		<div class="carousel-control carousel-control-r">
			<div class="next">
				<img src="../assets/img/arrow-right.svg" />
			</div>
		</div>
	</section>
	<div class="carousel-nav">
		<button class="carousel-indicator current-slide"></button>
		<button class="carousel-indicator"></button>
		<button class="carousel-indicator"></button>
		<button class="carousel-indicator"></button>
	</div>
	<!-- Carousel END -->
</section>
