<section id="block-5" class="shadow-box-radius">
	<div class="section-container-top">
		<div class="container-top-s"></div>
		<div class="container-top-m">
			<div class="container-top-title">
				<h2>WORKING PARTNERS</h2>
			</div>
		</div>
	</div>
	<section class="working-partners-container">
		<div class="working-partners-grid">
			<div class="openclassrooms">
				<img src="../assets/img/openclassrooms.svg" />
			</div>
			<div class="coding-ninja">
				<img src="../assets/img/codingninja.svg" />
			</div>
			<div class="medium"><img src="../assets/img/medium.svg" /></div>
			<div class="oreilly"><img src="../assets/img/oreilly.svg" /></div>
			<div class="udacity"><img src="../assets/img/udacity.svg" /></div>
			<div class="protor-exams">
				<img src="../assets/img/proctorexam.svg" />
			</div>
			<div class="towards-data-science">
				<img src="../assets/img/towardsdatascience.svg" />
			</div>
		</div>
	</section>
</section>
