---
layout: wrapper
---

      <!-- Just an image -->
<style>body{
    background: #BBD2C5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  }

  </style>

 

<!-- Grid row -->
<div class="row">

  <!-- Grid column -->
  <div class="col-md-6 col-lg-7 mb-4" style="margin-left: 20%; margin-top: 5%; ">

    <!--Card-->
    <div class="card">

      <!--Card image-->
      <div class="view">
        <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(112).jpg" class="card-img-top" alt="photo">
        <a href="#">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body text-center">
        <!--Title-->
        <h4 class="card-title">Nature is beautiful!</h4>
        <!--Text-->
        <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
          doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
          architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas.</p>
        
      </div>

    </div>
    <!--/.Card-->

  </div>
  <!-- Grid column -->

 

</div>
<!-- Grid row -->

        <!--Carousel Wrapper-->
        <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel" style=" margin-left: 5%; height: 100%; width: 100%; margin-left: 10%; margin-top: 5%; margin-bottom: 10%;">
            <h1 style="margin-left: 5%;;">Blogs</h1>
        <!--Controls-->
        <div class="controls-top" style="margin-left: 39%; margin-bottom: 2%;">
          <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
          <a class="btn-floating" href="#multi-item-example" data-slide="next"><i
              class="fas fa-chevron-right" style="size: 5em;"></i></a>
        </div>
        <!--/.Controls-->
      
        <!--Indicators-->
        <ol class="carousel-indicators">
          <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
          <li data-target="#multi-item-example" data-slide-to="1"></li>
          <li data-target="#multi-item-example" data-slide-to="2"></li>
        </ol>
        <!--/.Indicators-->
      
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
      
          <!--First slide-->
          <div class="carousel-item active">
      
            
              <div class="card mb-2" style="width: 20%; height: 50%; float: left; margin-left: 5%;">
                <img class="card-img-top"
                  src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Button</a>
                </div>
             
            </div>
      
            
              <div class="card mb-2" style="width: 20%; height: 50%; float: left; margin-left: 5%;">
                <img class="card-img-top"
                  src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
         
      
         
              <div class="card mb-2"  style="width: 20%; height: 50%; float: left; margin-left: 5%">
                <img class="card-img-top"
                  src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
         
      
          </div>
          <!--/.First slide-->
      
          <!--Second slide-->
          <div class="carousel-item">
      
              <div class="card mb-2" style="width: 20%; height: 50%; float: left; margin-left: 5%;">
                <img class="card-img-top"
                  src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Button</a>
                </div>
            </div>
      
              <div class="card mb-2" style="width: 20%; height: 50%; float: left; margin-left: 5%;">
                <img class="card-img-top"
                  src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
      
              <div class="card mb-2" style="width: 20%; height: 50%; float: left; margin-left: 5%;">
                <img class="card-img-top"
                  src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            
          </div>
          <!--/.Second slide-->
      
          <!--Third slide-->
          <div class="carousel-item">
      
              <div class="card mb-2" style="width: 20%; height: 50%; float: left; margin-left: 5%;">
                <img class="card-img-top"
                  src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(53).jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Button</a>
                </div>
            
            </div>
      
           
              <div class="card mb-2" style="width: 20%; height: 50%; float: left; margin-left: 5%;">
                <img class="card-img-top"
                  src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
           
      
            
              <div class="card mb-2" style="width: 20%; height: 50%; float: left; margin-left: 5%;">
                <img class="card-img-top"
                  src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(51).jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
           
      
          </div>
          <!--/.Third slide-->
      
        </div>
        <!--/.Slides-->
      
      </div>
      <!--/.Carousel Wrapper-->