---
layout: 'wrapper'
---
<link rel="stylesheet" href="../css/block-two.css">
<link rel="stylesheet" href="../css/block-three.css">
<link rel="stylesheet" href="../css/block-four.css">
<link rel="stylesheet" href="../css/block-five.css">
<link rel="stylesheet" href="../css/block-six.css">
<link rel="stylesheet" href="../css/block-seven.css">

<style>
  HTML SCSSResult

  /*--------------------
        Body
        --------------------*/
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  .row {
    align-content: center;
    margin-top: 12%;
  }

  .card {
    padding: 0%;
    margin: 5%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
</style>


<!-- Expertise Section -->
{% include expertise.html%}
<!-- Expertise Section -->

<!-- Home page blogs -->
{% include homepage-blog.html%}
<!-- Home page blogs -->


<!-- PODCASTS -->
{% include podcast-cards.html %}
<!-- PODCASTS END -->

<!-- WORKING PARTNERS -->
{% include working-partners.html %}
<!-- WORKING PARTNERS END -->

<!-- TESTIMONIAL -->
{% include testimonial.html %}
<!-- TESTIMONIAL -->

<!-- ABOUT ME -->
{% include about-me.html%}
<!-- ABOUT ME END -->


