---
layout: 'wrapper'
---
<link rel="stylesheet" href="../css/block-two.css">
<link rel="stylesheet" href="../css/block-three.css">
<link rel="stylesheet" href="../css/block-four.css">
<link rel="stylesheet" href="../css/block-five.css">
<link rel="stylesheet" href="../css/block-six.css">
<link rel="stylesheet" href="../css/block-seven.css">
<link rel="stylesheet" href="../css/footer.css">
<style>
  HTML SCSSResult

  /*--------------------
        Body
        --------------------*/
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  .row {
    align-content: center;
    margin-top: 12%;
  }

  .card {
    padding: 0%;
    margin: 5%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
</style>


<!-- Expertise Section -->
<section id="block-2" class="expertise-container shadow-box-radius">
  <div class="expertise-inner">
    <div class="expertise-objects"><img src="../assets/img/spo"/></div>
    <div class="expertise-content-wrap">
      <div class="expertise-content-header">
        <h2>EXPERTISE</h2>
      </div>
      <div class="expertise-content-filter">
        <ul>
          <li><a>PROGRAMMING</a></li>
          <li><a>DEEP LEARNING</a></li>
          <li><a>PROJECTS</a></li>
          <li><a>APPLIED MATHEMATICS</a></li>
        </ul>
      </div>
      <div class="expertise-content-body">
        <div class="body--inner">
          <div class="body--inner-content-wrap"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Home page blogs -->
<section id="block-3" class="home-blogs-container ">
  <div class="section-container-top">
    <div class="container-top-s">
      <div>
        <img src="../assets/img/shape-dots.svg" height="100%" />
      </div>
    </div>
    <div class="container-top-m">
      <div class="container-top-title">
        <h2>BLOGS</h2>
      </div>
    </div>
    <div class="container-top-e">
      <div>
        <p><span>View</span> All Blogs</p>
      </div>
    </div>
  </div>
  <!-- Carousel Start-->
  <section id="carousel" class="home-blogs-carousel">
    <div class="carousel-control carousel-control-l">
      <div class="prev"><img src="../assets/img/arrow-left.svg" /></div>
    </div>
    <div class="carousel-card">

      <section class="carousel-card-wrap active-slide">
        <div class="carousel-card-content">
          <div class="carousel-card-img">

          </div>
          <div class="carousel-card-body blog-body">
            <h2>Blog Heading</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
          </div>
        </div>
        <div class="carousel-card-read-more">
          <p>Read More</p>
        </div>
      </section>

      <!-- <section class="carousel-card-wrap">
        <div class="carousel-card-content">
          <div class="carousel-card-img">

          </div>
          <div class="carousel-card-body">

          </div>
        </div>
        <div class="carousel-card-read-more"></div>
      </section> -->

      <!-- <section class="carousel-card-wrap">
        <div class="carousel-card-content">
          <div class="carousel-card-img">

          </div>
          <div class="carousel-card-body">

          </div>
        </div>
    </div>
    <div class="carousel-card-read-more"></div>
  </section> -->
    </div>
    <div class="carousel-control carousel-control-r">
      <div class="next">
        <img src="../assets/img/arrow-right.svg" />
      </div>
    </div>
  </section>
  <!-- Carousel End -->
</section>
<!-- Home page blogs END -->

<!-- PODCASTS -->

<section id="block-4" class="shadow-box-radius">
  <div class="section-container-top">
    <div class="container-top-s">
    </div>
    <div class="container-top-m">
      <div class="container-top-title">
        <h2>PODCASTS</h2>
      </div>
    </div>
    <div class="container-top-e">
      <div>
        <p><span>View</span> All Blogs</p>
      </div>
    </div>
  </div>
  <section class="home-podcast-container">
    <div class="home-podcast-inner">
      <div class="home-podcast-cards-holder">
        <div class="cards-holder-inner">
          <ul class="card-flex-row">
            <li class="card-flex-column">
              <div class="card-img"></div>
              <div class="card-footer">
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="home-podcast-cards-control">
        <!-- TODO -->
      </div>
    </div>
  </section>
</section>

<!-- PODCASTS END -->

<!-- WORKING PARTNERS -->
<section id="block-5" class="shadow-box-radius">
  <div class="section-container-top">
    <div class="container-top-s">
    </div>
    <div class="container-top-m">
      <div class="container-top-title">
        <h2>WORKING PARTNERS</h2>
      </div>
    </div>
  </div>
  <section class="working-partners-container">
    <div class="working-partners-grid">
      <div class="openclassrooms"><img src="../assets/img/openclassrooms.svg" /></div>
      <div class="coding-ninja"><img src="../assets/img/codingninja.svg" /></div>
      <div class="medium"><img src="../assets/img/medium.svg" /></div>
      <div class="oreilly"><img src="../assets/img/oreilly.svg" /></div>
      <div class="udacity"><img src="../assets/img/udacity.svg" /></div>
      <div class="protor-exams"><img src="../assets/img/proctorexam.svg" /></div>
      <div class="towards-data-science"><img src="../assets/img/towardsdatascience.svg" /></div>
    </div>
  </section>
</section>
<!-- WORKING PARTNERS END -->


<!-- TESTIMONIALS -->
<section id="block-6" class="testimonials-container">
  <div class="section-container-top">
    <div class="container-top-s">
      <div div class="testimonial-shape-top">
        <img src="../assets/img/testimonial-shape-1.svg" height="100%" />
      </div>
    </div>
    <div class="container-top-m">
      <div class="container-top-title">
        <h2>TESTIMONIALS</h2>
      </div>
    </div>
  </div>
  <!-- Carousel Start-->
  <section id="carousel" class="home-blogs-carousel">
    <div class="carousel-control carousel-control-l">
      <div class="prev"><img src="../assets/img/arrow-left.svg" /></div>
    </div>
    <div class="carousel-card">
      <ul class="carousel-track">
        <li class="carousel-slide current-slide">
          <section class="carousel-card-wrap ">
            <div class="carousel-card-content">
              <div class="carousel-card-body testimonial-body ">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
              </div>
            </div>
            <div class="carousel-card-read-more">
              <div><span></span>
                <h3>John Doe</h3><br><span>CEO Samsung</span>
              </div>
            </div>
          </section>
        </li>
        <li class="carousel-slide">
          <section class="carousel-card-wrap">
            <div class="carousel-card-content">
              <div class="carousel-card-body testimonial-body ">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
              </div>
            </div>
            <div class="carousel-card-read-more">
              <div><span></span>
                <h3>Weekes Doe</h3><br><span>CEO Samsung</span>
              </div>
            </div>
          </section>
        </li>
        <li class="carousel-slide">
          <section class="carousel-card-wrap">
            <div class="carousel-card-content">
              <div class="carousel-card-body testimonial-body ">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
              </div>
            </div>
            <div class="carousel-card-read-more">
              <div><span></span>
                <h3>Vallis</h3><br><span>CEO </span>
              </div>
            </div>
          </section>
        </li>
        <li class="carousel-slide">
          <section class="carousel-card-wrap">
            <div class="carousel-card-content">
              <div class="carousel-card-body testimonial-body ">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
              </div>
            </div>
            <div class="carousel-card-read-more">
              <div><span></span>
                <h3>John Smith</h3><br><span>CEO Samsung</span>
              </div>
            </div>
          </section>
        </li>
      </ul>
    </div>
    <div class="carousel-control carousel-control-r">
      <div class="next">
        <img src="../assets/img/arrow-right.svg" />
      </div>
    </div>
  </section>
  <div class="carousel-nav">
    <button class="carousel-indicator current-slide"></button>
    <button class="carousel-indicator"></button>
    <button class="carousel-indicator"></button>
    <button class="carousel-indicator"></button>
  </div>
  <!-- Carousel END -->
</section>
<!-- TESTIMONIALS END-->


<!-- ABOUT ME -->
<section id="block-7" class="about-me-container">
  <div class="about-me-wrapper">

    <div class="about-me-inner">
      <div class="about-me-text">
        <p>ABOUT ME</p>
      </div>
      <div class="about-me-content">
        <div style="position: absolute; top: -11.5em; right: -22em; z-index: 0">
          <img src="../assets/img/harshit.svg" width="565px" style="display: none;" />
        </div>
        <div class="about-me-content-body">
          <p>Hi I'm</p>
          <h3>HARSHIT TYAGI</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ABOUT ME END -->


