---
layout: "wrapper"

---
<style>HTML SCSSResult
        /*--------------------
        Body
        --------------------*/
        *,
        *::before,
        *::after {
          box-sizing: border-box;
        }
        .row{
          align-content: center;
         margin-top: 12%;
        
         
        }
        .card{
          padding: 0%;
          margin-left:4%;
          margin-bottom: 5%;
          box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
         
        
        }
        .car{
         
          width: 80%;
         
          float: right;
        }
        
     
          
        h1{
          font-size:400%;
          font-size-adjust: inherit;
          font-weight: 600;
          margin-right: 10%;
          float: right;
          margin-top: 5%; 
        }
        
       




        </style>



<div style="background-color: black; height: inherit; height: 300px;   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);">
  <div style="margin-left: 5%; " >
        <img src="https://media-exp1.licdn.com/dms/image/C5103AQGYzZ6pgFqXSw/profile-displayphoto-shrink_200_200/0?e=1593043200&v=beta&t=hxYZ75Y_vG-zy1vTogA8OcGj_4Z-Oq6TYpkpSVTme1I"
          alt="avatar mx-auto white" class="rounded-circle img-fluid" style="width: 12%;  margin-top: 2%; float: left;  margin-left:5%   ">
   
       <a href="#blog" style="color: white;"><h1> Data Science With Harshit</h1></a>
  </div>

    
  </div>


  <!-- Grid row -->
<div class="row"  id="blog">

    <!-- Grid column -->
    <!-- <div class="col-md-6 mt-md-0 mt-4"> -->

 <!-- Card -->
<div class="card card-image"
style="background-image: url(/dswh/assets/img/python.png);
      ">

<!-- Content -->
<div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
  <div>
    <h5 class="pink-text"><i class="fas fa-chart-pie"></i> Data Science</h5>
    <h3 class="card-title pt-2"><strong>Data Science</strong></h3>
    
      <a class="btn" style="background: radial-gradient(ellipse farthest-corner at center bottom, #6beace, #2e9aa4);" href="/dswh{{site.posts.[7].url}}"><i class="fas fa-clone left"></i> Projects</a>
      <a class="btn" style="background: radial-gradient(ellipse farthest-corner at center bottom, #6beace, #2e9aa4);" href="/dswh{{site.posts.[3].url}}"><i class="fas fa-clone left"></i> Tuitorials</a>
  </div>
</div>
</div>
<!-- </div> -->
<!-- Card -->
 <!-- Grid column -->
 <!-- <div class="col-md-6 mt-md-0 mt-3"> -->
<!-- Card -->
<div class="card card-image"
style="background-image: url(/dswh/assets/img/math.jpg);
   ">

<!-- Content -->
<div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
  <div>
    <h5 class="pink-text"><i class="fas fa-chart-pie"></i>Mathematics</h5>
    <h3 class="card-title pt-2"><strong>Mathematics</strong></h3>
 
      <a class="btn " style="background: radial-gradient(ellipse farthest-corner at center bottom, #6beace, #2e9aa4);" href="/dswh{{site.posts.[6].url}}"><i class="fas fa-clone left"></i> Projects</a>
      <a class="btn " style="background: radial-gradient(ellipse farthest-corner at center bottom, #6beace, #2e9aa4);" href="/dswh{{site.posts.[2].url}}"><i class="fas fa-clone left"></i> Tuitorials</a>
  </div>
</div>
</div>
<!-- </div> -->
<!-- </div> -->
<!-- Card -->
<!-- <div class="row"> -->
 <!-- Grid column -->
 <!-- <div class="col-md-6 mt-md-0 mt-3"> -->
<!-- Card -->

<div class="card card-image"
style="background-image: url(/dswh/assets/img/py.jpg); background-repeat: no-repeat; background-size: cover;">

<!-- Content -->
<div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
  <div>
    <h5 class="pink-text"><i class="fas fa-chart-pie"></i> Python</h5>
    <h3 class="card-title pt-2"><strong>Python</strong></h3>
 
      <a class="btn " style="background: radial-gradient(ellipse farthest-corner at center bottom, #6beace, #2e9aa4);" href="/dswh{{site.posts.[5].url}}"><i class="fas fa-clone left"></i> Projects</a>
      <a class="btn " style="background: radial-gradient(ellipse farthest-corner at center bottom, #6beace, #2e9aa4);" href="/dswh{{site.posts.[1].url}}"><i class="fas fa-clone left"></i> Tuitorials</a>
  </div>
</div>
</div>
<!-- </div> -->
<!-- Card -->

 <!-- Grid column -->
 <!-- <div class="col-md-6 mt-md-0 mt-3"> -->
<!-- Card -->
<div class="card card-image"
style="background-image: url(/dswh/assets/img/ml.jpeg);
    ">

<!-- Content -->
<div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
  <div>
    <h5 class="pink-text"><i class="fas fa-chart-pie"></i> Machine Learning</h5>
    <h3 class="card-title pt-2"><strong>Machine Learning</strong></h3>
    
    <a class="btn " style="background: radial-gradient(ellipse farthest-corner at center bottom, #6beace, #2e9aa4);" href="/dswh{{site.posts.[4].url}}"><i class="fas fa-clone left"></i> Projects</a>
    <a class="btn " style="background: radial-gradient(ellipse farthest-corner at center bottom, #6beace, #2e9aa4);" href="/dswh{{site.posts.[0].url}}"><i class="fas fa-clone left"></i> Tuitorials</a>
  </div>
</div>
</div>
</div>
<!-- </div> -->

                
      
             
             
            

       
          
         
              


</div>
